vlink {
  color: inherit;
}

.listItems::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

/* -------------- Config -------------- */
.is_mb {
  display: none !important;
}

.is_tb {
  display: none !important;
}

.is_pc {
  display: inherit !important;
}

.clearfix {
  clear: both;
  display: block;
}

/*====================================
            Helper
=====================================*/
.inline {
  display: inline !important;
}

.resetH {
  height: inherit !important;
}

.tac {
  text-align: center;
}

/*====================================
            For PC
====================================*/
/* CSS Document */
/*** top page ***/
#top {
  background: url(../images/top/bg_top.jpg) no-repeat center top;
}

#top .container {
  margin: 0 auto;
  padding-bottom: 80px;
  max-width: 1000px;
  width: 100%;
}

#top .container .header .headerInner {
  float: left;
  margin-top: 28px;
}

#top .container .header .headerInner .headerLeft {
  max-width: 579px;
  width: 100%;
  float: left;
}

#top .container .header .headerInner .headerLeft .logo {
  margin-bottom: 20px;
}

#top .container .header .headerInner .headerLeft .headerButton3 li {
  display: table-cell;
}

#top .container .header .headerInner .headerRight {
  width: 406px;
  margin-left: 15px;
  margin-top: 402px;
  float: left;
}

#top .container .mainTop {
  height: 10px;
  background: url(../images/common/bg_main_top.gif) no-repeat;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Enabled=1, Style=0, Opacity=90);
  margin-top: 2px;
}

#top .container .mainBottom {
  height: 30px;
  background: url(../images/common/bg_main_bottom.gif) no-repeat;
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Enabled=1, Style=0, Opacity=90);
}

#top .container .mainSide {
  background: url(../images/common/bg_main_side.png) repeat-y;
}

#top .container .main {
  padding: 0 23px;
  float: left;
  border-bottom: 2px solid #F5E0E9;
}

#top .container .main .mainInner {
  width: 100%;
  max-width: 1000px;
  padding-bottom: 40px;
  float: left;
}

#top .container .main .mainInner h2 {
  margin-bottom: 6px;
}

#top .container .main .mainInner h2.lastChild {
  margin-top: 22px;
  margin-bottom: 6px;
}

#top .container .main .mainInner .mainLeft {
  width: 100%;
  max-width: 457px;
  float: left;
}

#top .container .main .mainInner .mainLeft .ifArea {
  background: url(../images/top/bg_iframe.gif) no-repeat;
  padding: 17px 17px 18px 20px;
}

#top .container .main .mainInner .mainLeft .ifArea iframe {
  width: 420px;
  height: 520px;
}

#top .container .main .mainInner .mainRight {
  width: 467px;
  margin-left: 30px;
  float: left;
}

#top .container .main .mainInner .mainRight p {
  font-size: 0.75em;
  line-height: 170%;
}

#top .container .main .mainInner .mainRight .topBnr01 {
  margin-bottom: 11px;
}

#top .container .main .mainInner .mainRight .topBnr02 {
  margin-top: 15px;
  margin-bottom: 11px;
}

#top .container .main .mainInner .mainRight .topBnr03 {
  margin-bottom: 6px;
}

#top .container .main .mainInner .mainRight .topBnr04 {
  margin-right: 10px;
  float: left;
}

* html #top .container .main .mainInner .mainRight .topBnr04 {
  margin-right: 4px;
}

#top .container .ifArea0 {
  /*	background		:	url(../images/top/bg_iframe.gif) no-repeat;*/
  /*    padding			:	17px 17px 18px 20px;*/
  margin-top: 20px;
}

#top .container .main .mainInner .ifArea0 iframe {
  width: 1000px;
  height: 1980px;
}

/*** cute page ***/
#cute {
  background: url(../images/common/bg_all.png) no-repeat center top;
}

#cute .container {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 1000px;
}

#cute .container .header .headerInner {
  float: left;
  margin-top: 28px;
  padding-bottom: 33px;
  width: 1000px;
}

#cute .container .header .headerInner .headerLeft {
  width: 579px;
  float: left;
}

#cute .container .header .headerInner .headerRight {
  float: right;
  margin-top: 12px;
  margin-right: 12px;
}

#cute .container .header .headerInner .headerRight ul li {
  display: block;
  float: left;
}

#cute .container .mainTop {
  height: 75px;
  border-bottom: 5px solid #F4ACDB;
}

#cute .container .mainBottom {
  height: 30px;
  background: url(../images/common/bg_main_bottom.gif) no-repeat;
}

#cute .container .mainSide {
  /*	background		:	#FFFFFF;
*/
}

#cute .container .main .mainInner .mainLeft {
  width: 331px;
  float: left;
}

#cute .container .main .mainInner .mainRight {
  width: 600px;
  float: left;
}

#cute .container .main .mainInner .mainRight ul li {
  padding: 3px;
  float: left;
}

#cute .container .footer {
  border-top: 2px solid #F5E0E9;
}

/*** cool page ***/
#cool {
  background: url(../images/common/bg_all.png) no-repeat center top;
}

#cool .container {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 1000px;
}

#cool .container .header .headerInner {
  float: left;
  margin-top: 28px;
  padding-bottom: 33px;
  width: 1000px;
}

#cool .container .header .headerInner .headerLeft {
  width: 579px;
  float: left;
}

#cool .container .header .headerInner .headerRight {
  float: right;
  margin-top: 12px;
  margin-right: 12px;
}

#cool .container .header .headerInner .headerRight ul li {
  display: block;
  float: left;
}

#cool .container .mainTop {
  height: 75px;
  border-bottom: 5px solid #000000;
}

#cool .container .mainBottom {
  height: 30px;
  background: url(../images/common/bg_main_bottom.gif) no-repeat;
}

#cool .container .mainSide {
  background: #DDDDDD;
  /*background		:	#FFFFFF;*/
}

#cool .container .main .mainInner {
  padding: 43px 6px 50px 6px;
}

#cool .container .main .mainInner .mainLeft {
  width: 388px;
  float: left;
}

#cool .container .main .mainInner .mainRight {
  width: 600px;
  float: left;
}

#cool .container .main .mainInner .mainRight ul li {
  /*padding			:	10px 17px 10px 3px;*/
  float: left;
  padding-left: 3px;
}

#cool .container .footer {
  border-top: 2px solid #F5E0E9;
}

/*** company page ***/
#company {
  /*background		:	url(../images/company/bg_company.png) no-repeat center top;*/
}

#company .container {
  margin: 0 auto;
  padding-bottom: 80px;
  width: 1000px;
  position: relative;
}

#company .container img.relative {
  position: absolute;
  top: 144px;
  right: 44px;
}

#company .container .header .headerInner {
  float: left;
  margin-top: 28px;
  padding-bottom: 33px;
  width: 1000px;
}

#company .container .header .headerInner .headerLeft {
  width: 579px;
  float: left;
}

#company .container .header .headerInner .headerRight {
  float: right;
  margin-top: 12px;
  margin-right: 12px;
}

#company .container .header .headerInner .headerRight ul li {
  display: block;
  float: left;
}

#company .container .mainTop {
  height: 78px;
}

#company .container .mainBottom {
  height: 30px;
  background: url(../images/common/bg_main_bottom.gif) no-repeat;
}

#company .container .mainSide {
  background: #FFFFFF;
}

#company .container .main .mainInner {
  height: 375px;
}

#company .container .main .mainInner {
  padding: 50px 44px 50px 65px;
}

#company .container .main .mainInner .mainLeft {
  width: 605px;
  float: left;
}

#company .container .main .mainInner .mainLeft dl dt {
  clear: left;
  float: left;
  margin: 0 0 0.4em;
  width: 7.5em;
  padding-left: 5px;
  color: #CF0A74;
  font-size: 0.875em;
  line-height: 3em;
}

#company .container .main .mainInner .mainLeft dl dd {
  border-bottom: 1px dotted #DA459B;
  margin-bottom: 0.4em;
  font-size: 0.875em;
  line-height: 3em;
}

#company .container .main .mainInner .mainRight {
  width: 208px;
  margin-left: 78px;
  float: left;
}

#company .container .footer {
  border-top: 2px solid #F5E0E9;
}

/*** company page ***/
#event {
  background: #F5E0E9;
}

#event .container {
  padding: 10px 3px;
}

#event .container p {
  font-size: 0.75em;
  margin-bottom: 20px;
  margin-right: 30px;
}

#event .container p.right {
  text-align: right;
}

#event .container a {
  color: #CF0570;
}

#event .container a:hover {
  color: #FA0586;
}

#event .container .lh1_5 {
  line-height: 1.5em;
}

#event .container .fwb {
  font-weight: bold;
}

#event .container .fcpk {
  color: #CF0570;
}

#event .container .af {
  color: #FF007F;
  font-size: 16px;
}

#event .container .eventTitle {
  margin-bottom: 24px;
  width: 396px;
}

#event .container .btmBoder {
  background: url(../images/event/img_event_boder.gif) repeat-x top;
  padding-top: 20px;
}

#event .container table {
  width: 380px;
  font-size: 0.75em;
  letter-spacing: 0;
  margin-bottom: 15px;
}

#event .container table th {
  vertical-align: middle;
  padding: 8px 0;
}

#event .container table td {
  padding: 10px 0 10px 10px;
  vertical-align: middle;
}

#event .txt {
  font-size: 0.75em;
  line-height: 170%;
}

.videoArea {
  background: url(../images/top/movie_bg.png) repeat-x top;
  width: 560px;
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.wrapTab:after {
  content: "";
  clear: both;
  visibility: 0;
  display: block;
}

.wrapTab {
  min-width: 1000px;
  min-height: 1930px;
}

.wrapTab .mainSide {
  background: url("../images/common/bg_all.png") no-repeat center top !important;
}

/*#cuteArea {
}
#coolArea {
    background: url("../images/common/bg_all.png") no-repeat center top!important;
}*/
.clickSwap:after {
  content: "";
  clear: both;
}

.clickSwap img.active {
  opacity: 1;
  cursor: default !important;
}

.clickSwap img:hover {
  opacity: 1;
  cursor: pointer;
}

.clickSwap img {
  opacity: 0.5;
  cursor: pointer;
  float: left;
}

#wrapContent:after {
  content: "";
  clear: both;
  visibility: 0;
  display: block;
}

#wrapContent {
  background: url(../images/common/bg_all.png) no-repeat center top;
}

#wrapContent .container .main .mainInner {
  padding: 43px 14px 50px 55px;
}

#wrapContent .container #coolArea .main .mainInner {
  padding: 43px 14px 50px 0px;
}

#wrapContent .container .main {
  padding: 0;
  border-bottom: none;
}

#wrapContent .container {
  padding-bottom: 0;
}

#wrapContent .container .mainTop {
  height: 75px;
  border-bottom: 5px solid #F4ACDB;
}

#wrapContent .container .mainBottom {
  height: 30px;
  background: url(../images/common/bg_main_bottom.gif) no-repeat;
}

#wrapContent .container .main .mainInner {
  width: 1000px;
}

#wrapContent .container #coolArea .mainRight {
  margin-left: 0;
}

#wrapContent .container .main .mainInner .mainRight {
  margin-left: 19px;
  width: 100%;
  max-width: 600px;
  float: left;
}

#wrapContent .container .main .mainInner .mainRight ul li {
  padding: 3px;
  float: left;
}

.mainSide#coolArea {
  background: #DDDDDD !important;
}

.toggleFour:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

#cuteArea:after {
  content: "";
  clear: both;
  visibility: 0;
  display: block;
}

#coolArea:after {
  content: "";
  clear: both;
  visibility: 0;
  display: block;
}

.footer::after, .footerInner::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.sidebar {
  float: left;
}

.sidebar a {
  display: none;
}

/*====================================

            headerMenu
=====================================*/
/*-----------------------------------
            For mobile
-----------------------------------*/
@media screen and (max-width: 780px) {
  * {
    box-sizing: border-box;
  }
  .is_pc_tb {
    display: none;
  }
  .is_mb {
    display: inherit !important;
  }
  .is_pc {
    display: none !important;
  }
  img {
    max-width: 100%;
  }
  .img_100 img {
    width: 100%;
  }
  /*------------------
            basic
    -----------------------------------*/
  .btnMore {
    padding: 2.5%;
    background: #fff;
  }
  #top {
    background: none;
  }
  #top .container {
    padding-bottom: 0;
  }
  .sidebar {
    display: none;
  }
  /*------------------
            header
    -----------------------------------*/
  .header {
    display: none;
  }
  .headerMb {
    display: table;
  }
  .headerMb:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  .headerMb .logo {
    padding: 10px;
    vertical-align: middle;
    display: table-cell;
    width: 50%;
  }
  .headerMb .titleLogo {
    padding: 10px;
    vertical-align: middle;
    display: table-cell;
    width: 50%;
  }
  /*------------------
            wrapContent
    -----------------------------------*/
  #wrapContent {
    background-size: cover;
  }
  #wrapContent .container #cuteArea .main .mainInner {
    padding: 0;
  }
  #wrapContent .container #coolArea .main .mainInner {
    padding: 0;
  }
  #wrapContent .container #coolArea .main .mainInner .mainRight {
    margin-left: 0;
  }
  #wrapContent .container .mainTop {
    height: inherit;
    border-bottom: none;
  }
  #wrapContent .container .main .mainInner {
    width: 100%;
  }
  #wrapContent .container .main .mainInner .mainRight {
    max-width: 100%;
  }
  #wrapContent .clickSwap img {
    width: 50%;
    float: left;
  }
  #wrapContent .mainLeft {
    display: none;
  }
  #wrapContent .mainRight li {
    width: 50%;
  }
  #wrapContent .mainRight li img {
    width: 100%;
  }
  #wrapContent .mainRight ul:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  #top .container .main {
    border-bottom: none;
  }
  #top .container .main .mainInner {
    padding-bottom: 15px;
  }
  #top .container .main .mainInner .mainLeft {
    max-width: 100%;
  }
  #top .container .main .mainInner .mainLeft .ifArea iframe {
    width: 100%;
  }
  #top .container .main .mainInner .mainRight {
    margin-left: 0;
    width: 100%;
  }
  #top .container .main .mainInner .mainRight .topBnr04 {
    margin-right: 0;
    width: 50%;
    float: left;
  }
  #top .container .main .mainInner .mainRight .topBnr05 {
    float: left;
    width: 50%;
  }
  #event .container .eventTitle {
    width: 100%;
  }
  /*------------------
            areaBanner
    -----------------------------------*/
  .areaBanner .twoAds:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  .areaBanner .twoAds a {
    display: block;
    width: 50%;
    float: left;
  }
  .wrapTab {
    min-width: 100%;
    min-height: 100%;
  }
  /*------------------
            footer
    -----------------------------------*/
  .footer .footerInner {
    margin: 0;
  }
  .footer .footerInner .footerLeft {
    margin: 0;
    width: 100%;
  }
  .footer .footerInner .footerLeft ul {
    margin-bottom: 0;
  }
  .footer .footerInner .footerLeft ul li {
    margin-right: 0;
    font-size: 14px;
  }
  .footer .navFooter {
    border-top: 1px solid #E67FB7;
  }
  .footer .navFooter:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  .footer .navFooter li {
    line-height: 1.5;
    position: relative;
    background: url("../images/responsive/arrowR.png") no-repeat 10px 50%;
    border-bottom: 1px solid #E67FB7;
    width: 50%;
    margin-right: 0;
  }
  .footer .navFooter li:nth-child(odd) {
    border-right: 1px solid #E67FB7;
  }
  .footer .navFooter li a {
    display: block;
    padding: 20px 0 20px 30px;
    color: #E67FB7;
    text-decoration: none;
  }
  .footer .navFooter li .iconFb {
    position: absolute;
    right: 0;
    top: 0;
  }
  .footer .navFooter li .iconFb img {
    max-width: 61px;
  }
  .footer .footerRight {
    display: none;
  }
  .footer .infoMb {
    padding: 48px 0 35px;
    text-align: center;
    background: #333333;
  }
  .footer .infoMb:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  .footer .infoD:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
  .footer .infoD span {
    display: block;
    float: left;
    width: 50%;
  }
  .footer .copyright {
    padding-top: 7px;
    text-align: center;
    font-size: 14px;
  }
  /*------------------
            helper
    -----------------------------------*/
  .pd_t50_b30 {
    padding: 40px 0 30px;
  }
}
