@charset "utf-8";
/* CSS Document */

ul {
    list-style: outside none none !important;
}
.simply-scroll-container {
    position: relative;
}
.simply-scroll-clip {
    overflow: hidden;
    position: relative;
}
.simply-scroll-list {
    overflow: hidden;
}
.simply-scroll-list li {
    float: left;
    /*margin-left: 34px;*/
    width: 105px;
	font-size:10px;
}
.simply-scroll-list li img {
    /*border: 7px solid #fff;
    box-shadow: 0 0 1px #888;*/
    display: block;
	width:105px;
	height:105px;
}

#scroller {
	width:735px;
	float:left;
}
