@media screen and (min-width: 780px) and (max-width: 870px) {

    /*----- contentRight -----*/
    .contentRight {
        .titleSection {
            font-size: 20px;
            line-height: 30px;
            padding-bottom: 20px;
        }
        .contentRightIn {
            bottom: 20px;
        }
        .navSidebar {
            li {
                line-height: 40px;
                a {
                    font-size: 14px;
                }
            }
        }
        .footer2 {
            .info {
                font-size: 15px;
            }
            .address {
                font-size: 15px;
            }
        }
    }
}
@media screen and (min-width: 781px) and (max-width: 1000px) {

    .titleSection {

        line-height: 1.7em;
        // font-size: 1.25em;
        padding: 2.5em 0 .9375em 0;
    }
    .contentLeft {
        width: 70%;
    }
    /*----- contentRight -----*/
    .areaBanner {
        padding: 0 3%;
    }
    .areaText01 {
        padding: 104px 10% 160px 4%;
        p {
            padding-bottom: 1em;
            &:not(:first-child) {
                padding-top: 0;
            }
        }
    }
    .areaListInfo {
        .titleItems {
            line-height: 1.5em;
        }
    }
    .contentRight {
        width: 30%;
        padding: 30px 0 0 20px;
        .contentRightIn  {
            top: 45px;
        }
        .footer2 {
            .info {
                padding-top: 30px;
            }
        }
    }
    /*----- header -----*/
    .headerMenu {
        .btnToggle {
            display: inline-block;
            img {
                max-width: 70%;
            }
        }
    }
    .headerlogo {
        a {
            display: inline-block;
            img {
                max-width: 80%;
            }
        }
    }
    /*----- section -----*/
    .areaAbout {
        .listItems {
            padding: 10px;
        }
        .items {
            padding: 94px 5%;
        }
    }
    .areaListAbout {
        .listItems {
            margin: 0;
        }
    }
    .areaListInfo {
        .items {
            .descript {
                padding-left: 5%;
            }
        }
    }
}
@media screen and (max-width: 1366px)  and (min-width: 781px) {
    .contentLeft {
        max-width: 70%;
    }

    .areaListInfo {
        .items {
            .descript {
                max-width: 60%;
            }
        }
    }
}
// @media screen and (max-width: 1200px) {
//     .is_tb {
//         display: inherit !important;
//     }
//     .hide_tb {
//         display: none !important;
//     }
//
//
//     // .container {
//     //     padding: 0 3%;
//     // }
// }
@media screen and (max-width: 780px) {
    .is_pc_tb {
        display: none;
    }
    .is_mb {
        display: inherit !important;
    }
    .is_pc {
        display: none !important;
    }
    .titleSection {
        font-size: 22.5px;
        line-height: 1.5em;
        // font-size: 1.25em;
        padding: 2.5em 0 .9375em 0;
        span {
            // font-weight: bold;
        }
    }
    .btnMain {
        width: 290px;
    }
    /*----------Swap two div before and after----------*/
    .swapTwo {
        display: flex!important;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        flex-direction: column;
        /* optional */
        // align-items: flex-start;
        align-items: center;
    }
    .swapTwo .first_div {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .swapTwo .second_div {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .swapTwo .three_div {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    /*------------------
            headerMenu
    -----------------------------------*/
    .headerMenu {
        position: relative;
        padding-top: 0px;
        padding-left: 0px;
        height: 65px;
        .btnToggle {
            position: absolute;
            left: 25px;
            top: calc(50% - 17px);
            img {
                max-width: 35px;
            }
        }
        .logoHeaderMb {
            position: absolute;
            top: calc(50% - 25px);
            left: calc(50% - 54px);
            img {
                // max-width: 76px;
                max-height: 50px;
            }
        }
    }
    .headerlogo {
        // margin-top: -55px;
        // margin-bottom: 40px;
        margin-bottom: 0;
        margin-top: 0;
        .titleLogo {
            padding-top: 40px;
        }
    }
    /*------------------
            areaAbout
    -----------------------------------*/
    .areaAbout {
        .titleSection {
            // padding-bottom: 30px;
            padding: 2.5em 0 .9375em 0;
        }
        .listItems {
            padding: 0 3%;
        }
        .items {
            width: 100%;
            padding: 55px 5% 34px;
            border-left: none;
            &:first-child {
                border-right: none;
                border-bottom: 7px solid $color-a;
            }
            .avatar {
                text-align: center;
                margin: auto;
            }
            .descript {
                padding-bottom: 22px;
                p {
                    font-size: .875em;
                    line-height: 1.75em;
                    padding-bottom: 1em;
                }
            }
        }
        // .btnAbout {
        //     width: 280px;
        // }
    }
    /*------------------
            areaInfo
    -----------------------------------*/
    .areaInfo {
        padding: 0px 7.14286% 50px 7.14286%;
        // padding: 70px 22px 50px;
        .titleSection {
            // padding-bottom: 30px;
            padding: 2.5em 0 .9375em 0;
        }
        .descript {
            // padding: 0px 5%;
            padding-bottom: 0;
            p {
                font-size: .875em;
                line-height: 1.75em;
                padding-bottom: 1em;
            }
        }
        .pd_top_40 {
            padding-top: 0;
        }
    }
    /*------------------
            areaTopic
    -----------------------------------*/
    .areaTopic {
        padding: 60px 7.14286% 45px;
        .containerTopic {
            .new {
                left: -5px;
                top: -35px;
            }
            li {
                &:not(:last-child){
                    padding-bottom: 15px;
                }
            }
        }
        .nameTopic {
            // max-width: 452px;
            width: 100%;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
        }
        .linkDetail {
            text-align: center;
            padding-top: 22px;
        }
    }
    /*------------------
            areaListAbout
    -----------------------------------*/
    .areaListAbout {
        padding: 32px 0 85px;
        .titleSection {
            font-size: 22.5px;
            // font-size: 1.25em;
        }
        .listItems {
            margin: 0 auto;
            &:not(:first-child) {
                padding-top: 0;
            }
        }
        .items {
            width: 50%;
            padding: 12px 5px 34px 5px;
            &:nth-child(odd) {
                padding-left: 10px;
            }
            &:nth-child(even) {
                padding-right: 10px;
            }
        }
    }
    /*------------------
            areaBanner
    -----------------------------------*/
    .areaBanner {
        padding: 0 3%;
    }
    /*------------------
            areaText01
    -----------------------------------*/
    .areaText01 {
        line-height: 1.75em;
        padding: 52px 7.14286% 80px;
        // padding: 52px 3% 80px;
        p {
            font-size: .875em;
            line-height: 1.75em;
            padding-bottom: 1em;
            &:not(:first-child){
                padding-top: 0;
            }
        }
    }
    /*------------------
            areaListInfo
    -----------------------------------*/
    .areaListInfo {
        .titleItems {
            font-size: 22.5px;
            // font-size: 1.25em;
            padding: 2.5em 0 .9375em 0;
            line-height: 1.5em;
            // line-height: 38px;
            // font-size: 25px;
        }
        .listItems {
            padding: 0 7.14286%;
        }
        .items {
            padding-bottom: 80px;
            .avatar {
                width: 100%;
                text-align: center;
                padding-left: 0;
            }
            .descript {
                max-width: 100%;
                width: 100%;
                padding-left: 0;
            }
            .detail {
                // font-size: .875em;
                font-size: 15.5px;
                line-height: 1.75em;
                padding-bottom: 1em;
            }
        }
    }
    /*------------------
            footer
    -----------------------------------*/
    .footer {
        padding: 45px 35px 35px;
        .footerIn {
            display: block;
            text-align: center;
        }
        .infoFooter {
            font-size: 15px;
            .tel {
                font-size: 30px;
            }
        }
        .infoRight {
            display: block;
        }
        .logoF {
            display: block;
            width: 100%;
        }
        .text {
            font-size: 18px;
            padding: 30px 0 20px;
            .highlight {
                display: block;
                width: 200px;
                font-size: 15px;
                margin: auto;
            }
        }
        .note {
            font-size: 16px;
            padding-top: 0;
        }
    }
    /*------------------
            contentRight
    -----------------------------------*/
    .contentRight {
        width: 100%;
        padding: 0;
        .contentRightIn {
            position: relative;
            top: 0;
            bottom: 30px;
        }
        .titleSection {
            border-top: 1px solid $color-4;
            padding: 20px 20px 20px 25px;
            font-size: 22.5px;
            // font-size: 1.25em;
            line-height: 1.5em;
            // padding: 2.5em 0 .9375em 0;
        }
        .navSidebar {
            border-top: 1px solid $color-4;
            &:after {
                content: "";
                clear: both;
                display: block;
                height: 0;
                visibility: hidden;
            }
            li {
                float: left;
                width: 50%;
                border-bottom: 1px solid $color-4;
                line-height: 32px;
                &:nth-child(odd) {
                    border-right: 1px solid $color-4;
                }
                a {
                    padding: 5px 15px;
                    color: $color-5;
                }
            }
        }
        .footer2 {
            padding: 30px 0;
            position: relative;
        }
    }
    /*------------------
            helper
    -----------------------------------*/
    .pb_45_mb {
        padding-bottom: 45px;
    }
    .pd_top_160 {
        padding-top: 0;
    }
    // end mobile
}
