@import "reset";
@import "module"; //
/*====================================
            basic
====================================*/
.main-body {
    position: relative;
    @extend %clearfix;
    max-width: 1366px;
    width: 100%;
    margin: auto;
}
.contentLeft {
    max-width: 1043px;
    width: 100%;
    float: left;
    // border-right: 1px solid $color-4;
}
.contentRight {
    position: fixed;
    float: left;
    right: 0;
    top: 0;
    border-left: 1px solid #d2d2d2;
    background: #62bdf9;
    // height: 100%;
    .contentRightIn {
        // position: fixed;
        top: 80px;
        bottom: 30px;
    }
}
.divider {
    border-top: #D2D2D2 solid 1px;
    margin: 30px 0;
}
/*====================================

            headerMenu
=====================================*/
.headerMenu {
    width: 100%;
    padding-top: 48px;
    padding-left: 38px;
    position: fixed;
    left: 0;
    z-index: 100;
    .btnToggle {
        display: inline-block;
        transition: all 0.3s linear;
        img {
            max-width: 70%;
        }
        &.active {
            margin-left: 20%;
        }
    }
}
.headerlogo {
    padding-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}
.navMainforSP {
    background: #FFF;
    li {
        a {
            display: block;
            padding: 20px;
            border-bottom: 1px solid $color-1;
            color: $color-1;
            &:hover {
                background: rgba(0, 109, 184, 0.3);
            }
        }
        &.active {
            a {
                color: $color-a;
                background: $color-1;
            }
        }
    }
}
.navMain {
    // display: none;
    background: #FFF;
    border-right: 1px solid #62BDF9;
    position: fixed;
    top: 0;
    left: -20%;
    width: 20%;
    z-index: 9999;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &.active {
        left: 0;
    }
    ul {
        height: 100vh;
    }
    li {
        // &:first-child {
        //     border-top: 1px solid $color-1;
        // }
        a {
            display: block;
            padding: 26px 20px;
            border-bottom: 1px solid #62BDF9;
            color: $color-1;
            &:hover {
                background:rgba(98,189,249, 0.3);
                color:#006DB8;
            }
        }
        &.active {
            a {
                background:#62BDF9;
                color:#fff110;
            }
        }
    }
}
/*====================================
        areaAbout
=====================================*/
.areaAbout {
    .listItems {
        padding: 10px;
    }
    .titleSection {
        padding-bottom: 60px;
        a {
            color: $color-1;
        }
    }
    .items {
        line-height: 34px;
        font-size: 18px;
        color: $color-1;
        text-align: justify;
        border-left: 3px solid $color-a;
        float: left;
        width: 50%;
        background: $color-2;
        padding: 5%;
        &:first-child {
            border-right: 3px solid $color-a;
        }
        .avatar {
            text-align: center;
        }
        .descript {
            padding-bottom: 55px;
        }
        .three_div {
            margin: auto;
        }
    }
    .btnAbout {
        margin-top: 17px;
        display: block;
        text-align: center;
    }
}
.three_div {
    line-height: 34px;
}
/*====================================
        areaInfo
=====================================*/
.areaInfo {
    padding: 180px 0 150px;
    .titleSection {
        padding-bottom: 60px;
        a {
            color: $color-1;
        }
    }
    .descript {
        font-size: 18px;
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
        color: $color-1;
        line-height: 34px;
        padding-bottom: 70px;
    }
    .btnNoname {
        display: block;
        text-align: center;
    }
}
/*====================================
        areaTopic
=====================================*/
.areaTopic {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid $color-4;
    border-bottom: 1px solid $color-4;
    padding: 80px 0 65px;
    a {
        color: $color-3;
    }
    .btnDetail {
        line-height: 34px;
    }
    .containerTopic {
        max-width: 760px;
        width: 100%;
        margin: auto;
        .day {
            padding-right: 30px;
            float: left;
        }
        .nameTopic {
            float: left;
        }
        .new {
            position: absolute;
            left: -65px;
        }
        ul {
            padding-bottom:10px;
        }
        li {
            position: relative;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 10px;
            &.active {
                .day,
                .nameTopic {
                    color: red;
                    text-decoration: underline;
                }
            }
            &:hover {
                .day,
                .nameTopic {
                    color: red;
                    text-decoration: underline;
                }
            }
            a {
                @extend %clearfix;
            }
        }
    }
    .linkDetail {
        text-align: right;
        padding-top: 45px;
        a {
            font-size: 16px;
            text-decoration: underline;
            color: $color-1;
        }
        .btnMain {
            &:before {
                content: "";
            }
            text-decoration: none;
            &:hover {
                color: $color-a;
                background: $color-1;
            }
        }
    }
}
/*====================================
    areaListAbout
=====================================*/
.areaListAbout {
    padding: 65px 0 72px;
    .listItems {
        margin: 0 -20px;
        text-align:center;
        &:not(:first-child) {
            padding-top: 40px;
            text-align:center;
        }
        a {
            color: #006db8;
            &:hover {
                .descript{
                    color: red;
                    text-decoration: underline;
                }
            }
        }
    }
    .items {
        padding: 0 20px;
        // float: left;
        width: 24%;
        text-align: center;
        display:inline-block;
        margin-top:20px;
    }
    .avatar {
        img {
            width: 100%;
        }
    }
    .descript {
        padding-top: 15px;
        a {
            color: $color-1;
        }
    }
}
/*
	Contact Page
------------------------------------------*/
.areaContact{
    background: #f6f6f6;
	margin-bottom:100px;
    max-width: 1000px;
    margin: auto;
    padding: 0px 24px;
    &:first-child {
        padding: 20px 24px;
    }
    &:not(:first-child) {
        margin-top: 3px;
    }
    .blockTitle {
        padding: 80px 0 0px 0;
        background: $color-a;
    }
    .areaText01{
        padding: 30px 7% 60px;
        p {
            text-align:center;
        }
    }
    .formBox {
        // max-width:760px;
        max-width: 840px;
        width: 90%;
        margin-left:auto;
        margin-right:auto;
        // margin-bottom:50px;
        padding: 55px 0 45px 0;
        .pd_t_40 {
            padding-top: 40px!important;
        }
    }
    .tableFormBox {
        width: 100%;
        padding: 50px 0 40px 0;
        .vTop {
            padding-top: 30px;
            vertical-align: top;
        }
        .twoCol {
            input {
                width: 288px;
            }
        }
        tr {
            td {
                font-size: 18px;
                line-height: 1.4;
                vertical-align: middle;
                &:first-child {
                    width: 192px;
                    color: $color-1;
                    font-size: 18px;
                }
                &:last-child {
                    padding: 15px 0;
                }
                &.check {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        right: 18px;
                        top: 26px;
                        background: url('../images/check.png');
                        width: 17px;
                        height: 17px;
                    }
                }
                &.must {
                    position: relative;
                    &:after {
                        content: "必 須";
                        position: absolute;
                        right: 0;
                        top: 26px;
                        background: #e60012;
                        color: $color-a;
                        font-size: 14px;
                        padding: 3px 5px;
                        border-radius: 3px;
                    }
                    &.top {
                        &:after {
                            top: 18px;
                        }
                    }
                }
                .note1 {
                    font-size: 14px;
                }
                .note2 {
                    margin-left: 25px;
                    border-radius: 3px;
                    padding: 8px 15px 10px 15px;
                    display: inline-block;
                    background: $color-1;
                    color: $color-a;
                }
            }
        }
        *::-webkit-input-placeholder {
            color: #999;
        }
        input {
            font-size: 16px;
            border: 3px solid #eeeeee;
            max-width: 570px;
            width: 100%;
        }
        select {
            position: relative;
            border: 3px solid #eeeeee;
            height: 48px;
            padding-left: 12px;
            min-width: 250px;
            color: #999999;
            appearance: none;
            background:  #fff url("../images/arrowSelect.png") no-repeat 95% 50%;
        }
        textarea {
            border: 3px solid #eeeeee;
            width: 100%;
            max-width: 572px;
            height: 343px;
            padding: 4%;
            font-size: 16px;
            line-height: 1.6;
            color: #999999;
        }
    }
    .submitContact {
        padding: 50px 0 25px;
        button {
            cursor: pointer;
            background: transparent;
            &:hover {
                background: #62BDF9;
            }
        }
    }
}
.modForm01 {
	width:100%;
	font-size:.75em;
	color:#006DB8;
    tr {
        &:nth-child(2n+1) {
            background-color:#E9F5FE;
        }
        &:nth-child(2n) {
            background-color:#F4FBFF;
        }
    }
    th {
        padding:20px 30px;
        font-size:1.4em;
        font-weight:normal;
        text-align:left;
        width:32%;
        vertical-align:middle;
        position:relative;
        &.must::after {
            content:"必須";
            display:block;
            padding:2px 5px;
            color:#FFF;
            background-color:#C00;
            font-size:.75em;
            position:absolute;
            right:20px;
            top:90%;
            margin-top:-0.9em;
            text-shadow:none;
        }
    }
    td {
        vertical-align:middle;
        padding:20px 30px 20px 0;
        font-size:1.4em;
    }
}
input[type="text"] {
	box-sizing:border-box;
	padding:12px;
	-webkit-appearance:none;
	border:#CCC solid 1px;
}
.inputText01 {
	width:300px;
}
.inputText02 {
	width:300px;
}
.inputText03 {
	width:400px;
}
.inputTextZip {
	width:80px;
}
.inputItem01 {
	margin-left:20px;
	display:inline-block;
    &:first-child {
        margin-left:0;
    }
}
select {
	height:30px;
}
.textArea {
	width:100%;
	height:200px;
}
.formBtnBox {
	text-align:center;
	margin-top:50px;
}
.formBtn {
	font-size:1.4em;
	background-color:#DC1E37;
	color:#FFF;
	text-decoration:none;
	height:46px;
	width:180px;
	display:inline-block;
	text-align:center;
	line-height:46px;
    transition: background-color 0.5s ease 0s;
	text-shadow:none;
	border-radius:3px;
	border:none;
	-webkit-appearance:none;
	outline:none;
    &::after {
        content:"";
        display:inline-block;
        background: url(../images/common/icn_arrow01_wt.png) no-repeat center center;
        width:7px;
        height:13px;
        margin-left:10px;
    }
    &:hover{
        background-color:#FE1E3B;
    }
}

/* Complete */
.contactCompleteTtl {
	text-align:center;
	margin:60px 0;
	font-size:2.4em;
	font-weight:bold;
	color:#FF4364;
}
.contactCompleteInner {
	margin-top:70px;
	border:#CCC solid 6px;
	padding:24px;
}
.contactCompleteInnerTtl {
	font-size:1.6em;
	font-weight:bold;
	color:#000;
	margin-bottom:10px;
}
.contactCompleteBtnBox {
	text-align:center;
	margin-top:50px;
}

.formLine {
	margin-top:10px;
    &:first-child {
        margin-top:0;
    }
}
.formCont {
	margin-top:30px;
    &:first-child {
        margin-top:0;
    }
}

.formContTtl {
	font-weight:bold;
	font-size:1.1em;
}
.entryInfoInputTtl {
	display:inline-block;
	width:8em;
}
.autoAddressBtn {
	display:inline-block;
	margin-left:10px;
}
.contactBox03 {
	margin-top:40px;
}

/* confirm */
.mw_wp_form_confirm .modForm01 th.must::after {
	display:none;
}

/* Complete */
.textContact01 {
	text-align:center;
	font-size:1.6em;
	margin:50px 0;
	line-height:2;
}
/*====================================
        footer
=====================================*/
.footer {
    padding: 32px 0 40px 0;
    text-align:center;
    background:#62BDF9;
    .footerIn {
        display: table;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position:relative;

    }
    .logoF {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width:50%;
        img {
            width: 240px;
        }
    }
    .infoRight {
        vertical-align: middle;
        min-width:50%;
        text-align:left;
    }
    .infoFooter {
        font-size: 14px;
        line-height: 1.6;
        color: $color-a;
        .tel {
            font-weight: bold;
            font-size: 24px;
            line-height: 1.4;
            margin-top:10px;
        }
        .mail {
            a {
                text-decoration:none;
                color:#fff;
            }

        }
    }
    .text {
        padding-top: 15px;
        font-size: 14px;
        color: $color-a;
        .highlight {
            font-weight: bold;
            font-size: 12px;
            background: $color-a;
            color:#62BDF9;
            padding-left: 14px;
        }
        span {
            padding: 6px 10px 4px 2px;
            display: inline-block;
            line-height: 1.6;
        }
    }
    .note {
        line-height: 1.6;
        padding-top: 3px;
        font-size: 14px;
        color: $color-a;
    }
}
/*====================================
        areaBanner
=====================================*/
.areaBanner {
    text-align: center;
}
/*====================================
        pageHead
=====================================*/
.pageHead {
	text-align:center;
	margin-top:80px;
}
.pageHead .headTtl{
	margin:0 auto;
}
.pageHead .headTtl img {
	vertical-align:middle;
	display:inline-block;
}
/*====================================
        areaText01
=====================================*/
.areaText01 {
    max-width: 860px;
    width: 100%;
    margin: auto;
    line-height: 34px;
    padding: 120px 7% 60px;
    font-size: 18px;
    color: $color-1;
    p {
        &:not(:first-child) {
            padding-top: 30px;
        }
    }
}
/*====================================
        areaListInfo
=====================================*/
.areaListInfo {
    color: $color-1;
    padding:20px 0;
    .titleItems {
        line-height: 1.4;
        font-size: 30px;
        padding-bottom: 20px;
        a {
            color: $color-1;
        }
    }
    .items {
        padding: 60px 0;
        max-width: 860px;
        margin: auto;
        .avatar {
            float: left;
            padding-left: 10px;
        }
        .descript {
            text-align: justify;
            padding:0 0 0 7%;
            max-width: 540px;
            width: 65%;
            float: left;
        }
        .detail {
            line-height: 34px;
            font-size: 18px;
        }
        .descriptEnd {
            text-align: justify;
            padding:0 7%;
            max-width: 760px;
            width: 100%;
            float: left;
            max-width:100%;
        }
        // &:last-child {
        //     text-align: center;
        //     .descript {
        //         max-width: inherit;
        //         width: 100%;
        //     }
        // }
    }
    .three_div {
        &:before {
            content: "";
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }
        // padding-top: 40px;
    }
    .btnMain {
        clear: both;
        margin-top: 40px;
    }
}

/*====================================
        contentRight
=====================================*/
.contentRight {
    padding: 50px 3% 0 3%;
    height: 100%;
    z-index: 999;
    .titleSection {
        text-align: left;
        font-size: 26px;
        line-height: 1.5em;
        padding-bottom: 16px;
        color:#fff110;
    }
    .navSidebar {
        margin-bottom:60px;
    }
    .navSidebar {
        li {
            line-height: 44px;
            a {
                display: block;
                color: #fff;
                font-size: 16px;
            }
            &:hover {
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
    .footer2 {
        color: $color-a;
        text-align: center;
        position: fixed;
        bottom: 20px;
        padding:0 2%;
        img{
        	// width: 160px;
        }
        .info {
            padding-top: 20px;
            font-size: 14px;
            line-height: 1.4;
        }
        .tel {
            font-size: 14px;
            margin-top: 12px;
        }
        .address {
            font-size: 14px;
        }
        .mail a {
            font-size: 14px;
            color:#fff;
            text-decoration:none;
        }
    }
}
/*====================================

=====================================*/
/*-----------------------------------
            For mobile
-----------------------------------*/
@import "responsive";
