/*------------------------------------

            Page-04.html

------------------------------------*/
/*======================================
        section-page04-01
======================================*/
.section-page04-01 {
  padding-top: 135px; }
  .section-page04-01 .title_h2 {
    padding-bottom: 50px; }
  .section-page04-01 .img-page04-01 {
    border-bottom: 1px solid #e5e5e5;
    max-width: 1000px;
    width: 100%;
    margin: auto; }
    .section-page04-01 .img-page04-01 ul {
      padding: 25px 0 112px 0; }
      .section-page04-01 .img-page04-01 ul li {
        line-height: 21px; }

.table-page04-01 tr:not(:first-child) td {
  border-top: 1px solid #e5e5e5; }

.table-page04-01 tr td {
  font-size: 18px;
  color: #3e3a39;
  vertical-align: top;
  padding: 90px 15px 80px 15px;
  line-height: 26px;
  font-size: 18px; }
  .table-page04-01 tr td h3 {
    font-size: 30px;
    line-height: 37px; }
  .table-page04-01 tr td:first-child {
    color: #3c4b61;
    width: 100%;
    width: 279px; }

.table-page04-01 .info {
  line-height: 30px; }
  .table-page04-01 .info p {
    padding-bottom: 30px; }

.table-page04-01 .info2 {
  margin-top: 35px;
  display: table; }
  .table-page04-01 .info2 li {
    display: table-cell;
    width: 222px; }
  .table-page04-01 .info2 p {
    padding-bottom: 10px; }

/*======================================
        section-page04-02
======================================*/
.section-page04-02 {
  padding: 110px 0 50px 0; }
  .section-page04-02 .title_h3 {
    text-align: left;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 50px; }
  .section-page04-02 .textDes {
    padding-bottom: 80px; }

/*-----------------------
        Responsive for device < 780px
-----------------------------------------*/
@media screen and (max-width: 780px) {
  /*--------------------------- section-page04-01 ---------------------------*/
  .section-page04-01 {
    padding-top: 60px; }
  .table-page04-01 {
    display: block; }
    .table-page04-01 tr:first-child td {
      border-top: 1px solid #e5e5e5; }
    .table-page04-01 tr td {
      display: block;
      padding: 15px 0;
      font-size: 14px;
      border: none !important; }
      .table-page04-01 tr td:first-child {
        width: 100%;
        border-top: 1px solid #e5e5e5 !important;
        color: #33445b; }
      .table-page04-01 tr td h3 {
        font-size: 17px; } }
