$color-1: #848484;
$color-2: #c9c9c9;
$color-3: #333;
$color-4: #cfcfcf;
$color-5: #282828;
$color-6: #fe6699;
$color-7: #f6ba0d;
$color-8: #35469b;
$color-9: #ca1521;
$color-a: #fff;
$color-o: #000;
small {
    font-size: 80%;
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

a img {
    transition: 0.8s linear;
    &:hover {
        opacity: 0.6;
    }
}
%clearfix {
    &::after {
        clear: both;
        content: "";
        display: block;
        visibility: hidden;
        height: 0;
    }
}
.clearfix {
    clear: both;
    display: block;
}

.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    background: #999999;
}
.owl-theme .owl-controls .owl-page.active span {
    width: 10px;
    height: 10px;
    background: #333335;
}

.owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.owl-theme .owl-controls {
    margin-top: 0;
}
.owl-pagination {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -310px;
}

// #totop {
//     position: fixed;
//     top: 70%;
//     right: 0;
//     display: none;
//     cursor: pointer;
// }

/*====================================
            Helper
=====================================*/
.mgn_bottom_30 {
    margin-bottom: 30px;
}