.gnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    min-height: 100vh;
    z-index: 1000;
    -webkit-transition: opacity .4s cubic-bezier(.215, .61, .355, 1)0s, height .3s cubic-bezier(.215, .61, .355, 1)0s, min-height .3s cubic-bezier(.215, .61, .355, 1)0s;
    transition: opacity .4s cubic-bezier(.215, .61, .355, 1)0s, height .3s cubic-bezier(.215, .61, .355, 1)0s, min-height .3s cubic-bezier(.215, .61, .355, 1)0s;
    background-color: #f1eeee;
    color: #686868;
    text-align: center;
    letter-spacing: .03em
}
.gnav a {
    display: block;
    text-decoration: none;
    color: #686868
}
.gnav .logoNavLeft {
    line-height: 150px;
    height: 150px;
    border-bottom: 1px solid #e8dddd;
}
.gnav .star {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    z-index: 10;
    pointer-events: none
}
.csspointerevents .gnav .star {
    display: block
}
.gnav .site-logo a {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    margin: auto;
    text-indent: -999em
}
.gnav .site-logo a:hover path, .gnav .site-logo a:hover polygon {
    fill: #fff
}
.gnav .site-logo .ico-logo {
    position: absolute;
    top: 29px;
    left: 67px;
    width: 71px;
    height: 30px
}
.gnav .site-logo path, .gnav .site-logo polygon {
    fill: #686868;
    -webkit-transition: fill .4s cubic-bezier(.215, .61, .355, 1)0s;
    transition: fill .4s cubic-bezier(.215, .61, .355, 1)0s
}
.gnav .gnav-options {
    font-size: 10px;
    font-size: 1rem
}
.gnav .gnav-primary-options>li>a, .gnav .gnav-primary-options>li>span {
    font-family: "ff-netto-web", sans-serif
}
.gnav .gnav-primary-options>li>a:hover, .gnav .gnav-primary-options>li>span:hover {
    background-color: #ede8e8
}
.gnav .gnav-primary-options>li {
    display: block;
    width: 100%;
    height: 90px;
    letter-spacing: .07em
}
.gnav .gnav-primary-options>li>a, .gnav .gnav-primary-options>li>span {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
    background: #f1eeee 50% 50% no-repeat;
    /*text-indent: -999em;*/
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8dddd;
}
.gnav .gnav-primary-options>li path, .gnav .gnav-primary-options>li polygon {
    fill: #686868;
    -webkit-transition: fill .4s cubic-bezier(.215, .61, .355, 1)0s;
    transition: fill .4s cubic-bezier(.215, .61, .355, 1)0s
}
.ua-desktop .gnav .gnav-primary-options>li:hover .gnav-secondary-options {
    width: 200px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 10;
    -webkit-transition: opacity .3s ease-out 0s, width .2s cubic-bezier(.215, .61, .355, 1)0s;
    transition: opacity .3s ease-out 0s, width .2s cubic-bezier(.215, .61, .355, 1)0s
}
.ua-desktop .gnav .gnav-primary-options>li:hover .gnav-secondary-options li {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.gnav .gnav-primary-options .gnav-options_items>a .nav-ico {
    width: 62px;
    height: 31px
}
.gnav .gnav-secondary-options {
    position: absolute;
    top: 0;
    left: 179px;
    width: 0;
    height: 100vh;
    background-color: #ede8e8;
    z-index: -3;
    -webkit-transition: opacity .3s ease-out .3s, width .2s cubic-bezier(.215, .61, .355, 1).3s;
    transition: opacity .3s ease-out .3s, width .2s cubic-bezier(.215, .61, .355, 1).3s;
    overflow: hidden;
    font-size: 12px;
    font-size: 1.2rem
}
.gnav .gnav-secondary-options, .gnav .gnav-secondary-options li {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.gnav .gnav-secondary-options li {
    display: table;
    -webkit-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    transform: translate(-60px, 0);
    -webkit-transition: opacity .14s ease-out 0s, -webkit-transform .14s cubic-bezier(.215, .61, .355, 1)0s;
    transition: opacity .14s ease-out 0s, transform .14s cubic-bezier(.215, .61, .355, 1)0s
}
.gnav .gnav-secondary-options li:nth-child(1) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}
.gnav .gnav-secondary-options li:nth-child(2) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}
.gnav .gnav-secondary-options li:nth-child(3) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}
.gnav .gnav-secondary-options li:nth-child(4) {
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}
.gnav .gnav-secondary-options li:nth-child(5) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}
.gnav .gnav-secondary-options li:nth-child(6) {
    -webkit-transition-delay: .35s;
    transition-delay: .35s
}
.gnav .gnav-secondary-options li:nth-child(7) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}
.gnav .gnav-secondary-options li:nth-child(8) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s
}
.gnav .gnav-secondary-options li>a {
    text-align: left;
    padding-left: 14px;
    position: relative;
    display: table-cell;
    width: 200px;
    height: 64px;
    vertical-align: middle;
    color: #6878b1;
    font-size: 12px;
}
.gnav .gnav-secondary-options li>a:hover {
    background-color: #c5c6d7;
    color: #6878b1;
}
.gnav .gnav-options_items .gnav-secondary-options {
    padding-top: 165px
}
.gnav .gnav-options_items:nth-child(2) .gnav-secondary-options{
    padding-top: 255px;
}
.gnav .gnav-options_items:nth-child(3) .gnav-secondary-options{
    padding-top: 345px;
}
.gnav .gnav-options_items:nth-child(4) .gnav-secondary-options{
    padding-top: 435px;
}
.gnav .gnav-links {
    width: 100%;
    border-top: 1px solid #fff;
    /*border-bottom: 1px solid #2f2f2f*/
}
.gnav .gnav-links li {
    float: left;
    display: block;
    width: 50%;
    height: 89px;
    border-right: 1px solid #e8dddd;
    border-bottom: 1px solid #fff;
}
.gnav .gnav-links li:last-child {
    border-left: 1px solid #fff;
    border-right: none
}
.gnav .gnav-links li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 89px;
    /*text-indent: -999em;*/
    -webkit-transition: background-color .4s cubic-bezier(.215, .61, .355, 1)0s;
    transition: background-color .4s cubic-bezier(.215, .61, .355, 1)0s;
    border-bottom: 1px solid #e8dddd;
}
.ua-desktop .gnav .gnav-links li a:hover {
    background-color: #ede8e8;
}
