.gnav .gnav-primary-options .gnav-options_items .gnav-secondary-options {
    padding-top: 300px;
    margin-top: -150px;
}
.gnav .gnav-primary-options .gnav-options_items:nth-child(2) .gnav-secondary-options {
    padding-top: 480px;
    margin-top: -240px;
}
.gnav .gnav-primary-options .gnav-options_items:nth-child(3) .gnav-secondary-options {
    padding-top: 660px;
    margin-top: -330px;
}
.gnav .gnav-primary-options .gnav-options_items:nth-child(4) .gnav-secondary-options {
    padding-top: 840px;
    margin-top: -420px;
}
.gnav .gnav-secondary-options {
    height: 200vh;
}
