@charset "UTF-8";
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'HiraKakuPro-W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1;
  font-size: 14px;
  color: #2e2e2e;
  background: #fff;
  word-wrap: break-word;
  letter-spacing: 0.1em;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
          animation: fadeIn 2s ease 0s 1 normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ul {
  list-style: none;
}

img, input, select {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #6878B1;
  color: #fff;
}

:hover {
  transition: 400ms;
}

:focus {
  outline: 0;
}

a {
  color: #6878b1;
}

small {
  font-size: 80%;
}

a img {
  transition: 0.5s linear;
}

a img:hover {
  opacity: 0.6;
}

.container::after, .listItems::after, .sectionNews .itemTopic::after, .sectionAccess .listMap::after, .sectionProduct07::after, .sectionProduct07 .item::after, .navFooter::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
}

/* -------------- Config -------------- */
.lt02 {
  letter-spacing: 0.2em;
}

.is_pc_tb {
  display: table-cell;
}

.is_mb {
  display: none !important;
}

.is_tb {
  display: none !important;
}

.is_pc {
  display: inherit !important;
}

.clearfix {
  clear: both;
  display: block;
}

.container {
  width: 100%;
  max-width: 877px;
  margin: 0 auto;
}

.brd_bottom_none {
  border-bottom: none !important;
}

.brd_bottom {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #6878b1;
}

.titleSection {
  text-transform: uppercase;
  color: #6878b1;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 23px;
}

.titleSection img {
  margin: auto;
  max-width: 100%;
}

.nameSection {
  text-align: center;
  font-size: 20px;
  line-height: 33px;
}

.nameSection img {
  margin: auto;
  max-width: 100%;
}

.titleItems {
  font-weight: bold;
  font-size: 16px;
}

.noteItems {
  line-height: 23px;
}

.wrapWipe {
  display: block;
  width: 100%;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.wrapWipe > .table {
  margin-bottom: 0;
}

.wrapWipe > .table > tbody > tr > td,
.wrapWipe > .table > tbody > tr > th,
.wrapWipe > .table > tfoot > tr > td,
.wrapWipe > .table > tfoot > tr > th,
.wrapWipe > .table > thead > tr > td,
.wrapWipe > .table > thead > tr > th {
  white-space: nowrap;
  background: #000;
}

.wrapWipe > .table > thead > tr > th {
  font-weight: bold;
}

#totop {
  position: fixed;
  display: none;
  cursor: pointer;
  right: 42px;
  bottom: 36px;
  z-index: 99999;
}

/*====================================
            Helper
=====================================*/
.inline {
  display: inline !important;
}

.resetH {
  height: inherit !important;
}

.red {
  color: red;
}

.left {
  float: left;
}

.right {
  float: right;
}

.img100 {
  width: 100%;
}

.mgn_t_0 {
  margin-top: 0 !important;
}

.vTop {
  vertical-align: top;
}

.w80 {
  width: 80px;
}

.brd_b_none {
  border-bottom: none !important;
}

.fadeTop {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  transition: all 1.5s;
}

.fadeTop.ef-slide {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.site-main {
  position: relative;
}

/*====================================
            Grand menu
=====================================*/
.gnav {
  position: fixed;
  top: 0;
  left: -180px;
  width: 180px;
  min-height: 100vh;
  z-index: 1000;
  transition-duration: 1s;
  background-color: #f1eeee;
  color: #686868;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-perspective: 400px;
          perspective: 400px;
}

.gnav a {
  color: #686868;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 100px;
}

.gnav .logoNavLeft {
  line-height: 150px;
  height: 150px;
  border-bottom: 1px solid #e8dddd;
}

.gnav .star {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  z-index: 10;
  pointer-events: none;
}

.gnav .gnav-primary-options {
  position: relative;
  z-index: 3;
  margin: 0;
}

.gnav .gnav-primary-options > li {
  position: relative;
  display: block;
  width: 100%;
  height: 90px;
  letter-spacing: 0.07em;
}

.gnav .gnav-primary-options > li > a,
.gnav .gnav-primary-options > li > span {
  position: relative;
  display: block;
  width: 100%;
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  background: #f1eeee 50% 50% no-repeat;
  /*text-indent: -999em;*/
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8dddd;
  font-family: "ff-netto-web", sans-serif;
}

.gnav .gnav-primary-options > li > a:hover,
.gnav .gnav-primary-options > li > span:hover {
  background-color: #ede8e8;
}

.gnav .gnav-primary-options .gnav-options_items {
  -webkit-perspective: 400px;
          perspective: 400px;
}

.gnav .gnav-primary-options .gnav-options_items .gnav-secondary-options {
  padding-top: 150px;
  margin-top: -150px;
}

.gnav .gnav-primary-options .gnav-options_items:nth-child(2) .gnav-secondary-options {
  padding-top: 240px;
  margin-top: -240px;
}

.gnav .gnav-primary-options .gnav-options_items:nth-child(3) .gnav-secondary-options {
  padding-top: 330px;
  margin-top: -330px;
}

.gnav .gnav-primary-options .gnav-options_items:nth-child(4) .gnav-secondary-options {
  padding-top: 420px;
  margin-top: -420px;
}

.gnav .gnav-primary-options .gnav-options_items:hover .gnav-secondary-options {
  visibility: visible;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.gnav .gnav-secondary-options {
  position: fixed;
  font-size: 12px;
  width: 200px;
  left: 180px;
  top: 0;
  height: 100vh;
  background-color: #ede8e8;
  visibility: hidden;
  -webkit-transform: rotateY(78deg);
          transform: rotateY(78deg);
  -webkit-transform-origin: 0 0 0;
      -ms-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  transition: all 0.3s;
}

.gnav .gnav-secondary-options li > a {
  text-align: left;
  padding-left: 14px;
  position: relative;
  display: table-cell;
  width: 200px;
  height: 64px;
  vertical-align: middle;
  font-size: 14px;
  color: #6878b1;
  font-weight: bold;
}

.gnav .gnav-secondary-options li > a:hover {
  background-color: #c5c6d7;
  color: #fff;
}

.gnav .gnav-links {
  width: 100%;
  border-top: 1px solid #fff;
}

.gnav .gnav-links li {
  float: left;
  display: block;
  width: 50%;
  height: 89px;
  border-right: 1px solid #e8dddd;
  border-bottom: 1px solid #fff;
}

.gnav .gnav-links li:last-child {
  border-left: 1px solid #fff;
  border-right: none;
}

.gnav .gnav-links li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 89px;
  border-bottom: 1px solid #e8dddd;
}

.csspointerevents .gnav .star {
  display: block;
}

.ua-desktop .gnav .gnav-links li a:hover {
  background-color: #ede8e8;
}

/*------------------
        header
-----------------------------------*/
.wrapheaderMb {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: #fff;
  padding: 9px 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e9e9e9;
}

.wrapheaderMb .logo {
  cursor: pointer;
}

.wrapheaderMb .logo img {
  height: 43px;
}

.wrapheaderMb .toggle {
  cursor: pointer;
}

.wrapheaderMb .toggle img {
  height: 39px;
}

.navHeader {
  display: none;
  position: fixed;
  padding-top: 61px;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  z-index: 999;
}

.navHeader li {
  border-bottom: 1px solid #e9e9e9;
}

.navHeader li.social {
  display: table;
  width: 100%;
}

.navHeader li.social a {
  text-align: center;
  width: 50%;
  display: table-cell;
  height: 64px;
  background: none;
}

.navHeader li.social a:first-child {
  border-right: 1px solid #e9e9e9;
}

.navHeader li a {
  font-size: 18px;
  background: url("../images/arrow_N.png") no-repeat 5%;
  display: block;
  color: #8a8a8a;
  padding: 18px 20px 18px 40px;
}

/*====================================
            main-wrapper
=====================================*/
.main-wrapper {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 180px;
}

/*====================================
            sectionSlider
=====================================*/
.sectionSlider {
  min-height: 598px;
}

.sectionSlider .titleSection {
  position: absolute;
  z-index: 99;
  top: calc(50% - 50px);
  text-align: center;
  display: block;
  width: 100%;
}

.sectionSlider .titleSection img {
  max-width: 100% !important;
}

.m-slider .image {
  height: 598px !important;
}

.slick-list.draggable {
  height: 598px !important;
}

.slick-dots li button {
  width: 64px !important;
}

/*====================================
            sectionNews
=====================================*/
.sectionNews {
  padding: 50px 0 75px;
  border-bottom: 1px solid #e8dddd;
}

.sectionNews .titleSection {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 33px;
}

.sectionNews .titleSection img {
  margin: inherit;
}

.sectionNews .titleSection:hover img {
  opacity: 1;
}

.sectionNews .itemTopic {
  padding: 10px 0;
}

.sectionNews .itemTopic:hover .text {
  text-decoration: underline;
  color: red;
}

.sectionNews .itemTopic a {
  color: inherit;
}

.sectionNews .itemTopic a:hover {
  color: red;
  text-decoration: underline !important;
}

.sectionNews .itemTopic .time {
  float: left;
  color: #949393;
  font-size: 12px;
}

.sectionNews .itemTopic .text {
  padding-left: 10px;
  float: left;
}

/*====================================
            sectionService
=====================================*/
.sectionService {
  padding: 72px 0 85px;
  border-bottom: 1px solid #e8dddd;
}

.sectionService .titleSection {
  padding-bottom: 40px;
}

.sectionService .listItems {
  margin: 0 -13px;
}

.sectionService .items {
  float: left;
  width: 33.3333333%;
  padding: 0 13px;
}

.sectionService .description {
  padding-top: 20px;
}

.sectionService .avatar {
  width: 275px;
  height: 180px;
  overflow: hidden;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sectionService .avatar:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sectionService .titleItems {
  color: #fff;
  padding-bottom: 15px;
}

/*====================================
            sectionProduct
=====================================*/
.sectionProduct {
  padding: 72px 0 85px;
}

.sectionProduct .titleSection {
  padding-bottom: 40px;
}

.sectionProduct .listItems {
  margin: 0 -13px;
}

.sectionProduct .listItems:not(:last-child) {
  padding-bottom: 30px;
}

.sectionProduct .items {
  float: left;
  width: 33.3333333%;
  padding: 0 13px;
}

.sectionProduct .description {
  padding-top: 20px;
}

.sectionProduct .avatar {
  width: 275px;
  height: 180px;
  overflow: hidden;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sectionProduct .avatar:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sectionProduct .titleItems {
  color: #fff;
  padding-bottom: 15px;
}

/*====================================
            sectionThumbnail
=====================================*/
.sectionThumbnail {
  padding-top: 23px;
}

.sectionThumbnail.fixed {
  transition-duration: 0ms;
  background: #fff;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-left: 180px;
  border-bottom: 1px solid #eee;
}

.sectionThumbnail .listItems {
  margin: 0 -10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionThumbnail .items {
  text-align: center;
  float: left;
  width: 20%;
  padding: 10px;
  cursor: pointer;
}

.sectionThumbnail .items:hover .avatar {
  transition-duration: 500ms;
  border: 3px solid #6878b1;
}

.sectionThumbnail .items:hover .description a {
  color: #6878b1;
}

.sectionThumbnail .items.active .avatar {
  transition-duration: 500ms;
  border: 3px solid #6878b1;
}

.sectionThumbnail .items.active .description a {
  color: #6878b1;
}

.sectionThumbnail .avatar {
  border: 3px solid transparent;
}

.sectionThumbnail .description {
  padding-top: 10px;
}

.sectionThumbnail .description a {
  color: #2e2e2e;
}

/*====================================
            sectionMessage
=====================================*/
.sectionMessage {
  padding: 100px 0 95px;
  border-bottom: 1px solid #e8dddd;
}

.sectionMessage .titleSection {
  padding-bottom: 50px;
}

.sectionMessage .description {
  padding-top: 45px;
  max-width: 579px;
  width: 100%;
  margin: auto;
}

.sectionMessage .description p {
  line-height: 28px;
  padding-bottom: 30px;
}

.sectionMessage .note {
  text-align: right;
  font-size: 16px;
}

.sectionMessage .note span {
  font-size: 24px;
}

/*====================================
            sectionVision
=====================================*/
.sectionVision {
  padding: 80px 0 140px;
}

.sectionVision .nameSection {
  padding-top: 50px;
}

.sectionVision .description {
  padding-top: 45px;
  max-width: 579px;
  width: 100%;
  margin: auto;
}

.sectionVision .description p {
  line-height: 28px;
  padding-bottom: 30px;
}

/*====================================
            sectionBreadcrumb
=====================================*/
.sectionBreadcrumb {
  position: relative;
  min-height: 240px;
  background: #89c5e9;
}

.sectionBreadcrumb .note {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.sectionBreadcrumb .content {
  padding: 90px 0 0 75px;
}

.sectionBreadcrumb .title {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color=#FFFFFF)";
  /*IE 8*/
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#FFFFFF);
  /*IE 5.5-7*/
  color: #fff;
  padding-bottom: 15px;
}

.sectionBreadcrumb .name {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=0, Color=#FFFFFF)";
  /*IE 8*/
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color=#FFFFFF);
  /*IE 5.5-7*/
  color: #fff;
}

/*====================================
            sectionAbout01
=====================================*/
.sectionAbout01 {
  padding: 100px 0 85px;
  border-bottom: 1px solid #e8dddd;
}

.sectionAbout01 .titleSection {
  padding-bottom: 45px;
}

.sectionAbout01 .tableSection {
  width: 100%;
}

.sectionAbout01 .tableSection tr td {
  line-height: 22px;
  border: 1px solid #c9c9c9;
  padding: 17px 26px;
}

.sectionAbout01 .tableSection tr td:first-child {
  width: 146px;
}

.sectionAbout01 .tableSection tr td p:not(:last-child) {
  padding-bottom: 30px;
}

/*====================================
            sectionAbout02
=====================================*/
.sectionAbout02 {
  padding: 100px 0 120px;
}

.sectionAbout02 .titleSection {
  padding-bottom: 45px;
}

.sectionAbout02 .tableSection {
  width: 100%;
}

.sectionAbout02 .tableSection tr td {
  line-height: 22px;
  border: 1px solid #c9c9c9;
  padding: 17px 26px;
}

.sectionAbout02 .tableSection tr td:first-child {
  width: 146px;
}

.sectionAbout02 .tableSection tr td p:not(:last-child) {
  padding-bottom: 30px;
}

/*====================================
            sectionAccess
=====================================*/
.sectionAccess {
  padding: 100px 0 120px;
}

.sectionAccess .titleSection {
  padding-bottom: 50px;
}

.sectionAccess .listMap {
  border: 1px solid #6878b1;
  border-radius: 3px;
  padding: 35px;
}

.sectionAccess .listMap:not(:last-child) {
  border-bottom: none;
}

.sectionAccess .itemMap {
  float: left;
  width: 50%;
  line-height: 22px;
}

.sectionAccess .itemMap:nth-child(3) {
  padding-top: 35px;
  width: 100%;
  padding-bottom: 20px;
}

.sectionAccess .itemMap iframe {
  max-width: 800px;
  width: 100%;
  height: 450px;
}

.sectionAccess .nameMap {
  padding-bottom: 15px;
  font-size: 20px;
}

.sectionAccess .text {
  padding-top: 20px;
}

.sectionAccess .linkMap {
  clear: both;
  display: block;
  margin: auto;
  text-align: center;
}

.sectionAccess .linkMap:hover img {
  opacity: 1;
}

/*====================================
            sectionBannerProduct
=====================================*/
.sectionBannerProduct img {
  width: 100%;
}

/*====================================
            sectionProduct01
=====================================*/
.sectionProduct01 {
  padding: 60px 0 140px;
}

.sectionProduct01 .titleSection {
  padding-bottom: 40px;
}

.sectionProduct01 .description {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.sectionProduct01 .description p {
  line-height: 24px;
  padding-bottom: 25px;
}

/*====================================
            sectionProduct02
=====================================*/
.sectionProduct02 {
  padding: 60px 0 120px;
}

.sectionProduct02 .titleSection {
  padding-bottom: 40px;
  line-height: 30px;
}

.sectionProduct02 .description {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.sectionProduct02 .description p {
  line-height: 24px;
  padding-bottom: 25px;
}

.sectionProduct02 .banner {
  padding-top: 45px;
}

/*====================================
            sectionProduct03
=====================================*/
.sectionProduct03 {
  padding-bottom: 110px;
}

.sectionProduct03 .titleSection {
  padding-bottom: 40px;
}

.sectionProduct03 .listItems {
  margin: 0 -13px;
}

.sectionProduct03 .listItems:not(:last-child) {
  padding-bottom: 30px;
}

.sectionProduct03 .items {
  float: left;
  width: 33.3333333%;
  padding: 0 13px;
}

.sectionProduct03 .avatar {
  width: 275px;
  height: 180px;
  overflow: hidden;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sectionProduct03 .avatar:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sectionProduct03 .description {
  padding-top: 20px;
}

.sectionProduct03 .titleItems {
  color: #fff;
  padding-bottom: 15px;
}

/*====================================
            sectionProduct04
=====================================*/
.sectionProduct04 {
  padding-bottom: 110px;
}

.sectionProduct04 .titleSection {
  padding-bottom: 40px;
}

.sectionProduct04 .listItems {
  margin: 0 -13px;
}

.sectionProduct04 .listItems:not(:last-child) {
  padding-bottom: 30px;
}

.sectionProduct04 .items {
  float: left;
  width: 33.3333333%;
  padding: 0 13px;
}

.sectionProduct04 .avatar {
  width: 275px;
  height: 180px;
  overflow: hidden;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sectionProduct04 .avatar:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sectionProduct04 .description {
  padding-top: 20px;
}

.sectionProduct04 .titleItems {
  line-height: 30px;
  color: #fff;
  padding-bottom: 15px;
}

/*====================================
            sectionProduct05
=====================================*/
.sectionProduct05 {
  padding-bottom: 110px;
  border-bottom: 1px solid #e8dddd;
}

.sectionProduct05 .titleSection {
  padding-bottom: 40px;
}

.sectionProduct05 .listItems {
  margin: 0 -13px;
}

.sectionProduct05 .listItems:not(:last-child) {
  padding-bottom: 30px;
}

.sectionProduct05 .items {
  float: left;
  width: 33.3333333%;
  padding: 0 13px;
}

.sectionProduct05 .avatar {
  width: 275px;
  height: 180px;
  overflow: hidden;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sectionProduct05 .avatar:hover img {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.sectionProduct05 .description {
  padding-top: 20px;
}

.sectionProduct05 .titleItems {
  color: #fff;
  padding-bottom: 15px;
}

/*====================================
            sectionProduct06
=====================================*/
.sectionProduct06 {
  padding: 90px 0 460px;
}

.sectionProduct06 .titleSection {
  padding-bottom: 60px;
}

.sectionProduct06 .description {
  max-width: 564px;
  width: 100%;
  margin: auto;
  line-height: 24px;
}

/*====================================
            sectionProduct07
=====================================*/
.sectionProduct07 {
  padding: 100px 0;
}

.sectionProduct07 .titleSection {
  padding-bottom: 35px;
}

.sectionProduct07 .item {
  cursor: pointer;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  padding: 18px 11px 18px 19px;
  border: 5px solid #eeeeee;
}

.sectionProduct07 .item:not(:last-child) {
  margin-bottom: 38px;
}

.sectionProduct07 .item:hover {
  border: 5px solid #6878b1;
}

.sectionProduct07 .item:hover .titleI {
  color: #6878b1;
}

.sectionProduct07 .item .avatar {
  max-width: 375px;
  width: 100%;
  transition-duration: 400ms;
  float: left;
}

.sectionProduct07 .item .description {
  padding-left: 50px;
  float: left;
}

.sectionProduct07 .item .titleI {
  font-size: 20px;
  color: #000;
  padding-bottom: 25px;
  font-weight: bold;
  line-height: 1.4;
}

.sectionProduct07 .item .txtI {
  font-size: 16px;
  line-height: 24px;
  max-width: 509px;
}

.sectionProduct07 .item .btnMore {
  position: absolute;
  right: 11px;
  bottom: 11px;
}

.sectionProduct07 .item .btnMore:hover img {
  opacity: 1;
}

/*====================================
            navFooter
=====================================*/
.navFooter {
  border-top: 2px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
}

.navFooter li {
  float: left;
  width: 50%;
}

.navFooter li:nth-child(odd) {
  border-right: 2px solid #e9e9e9;
}

.navFooter li:nth-child(7) a {
  border-bottom: none;
}

.navFooter li a {
  background: url("../images/arrow_F.png") no-repeat 95%;
  display: block;
  padding: 18px 20px;
  border-bottom: 2px solid #e9e9e9;
}

/*====================================
            paralaxArea
=====================================*/
.paralaxArea {
  display: block;
  width: 100%;
  height: 200px;
  background: url("../images/paralax.jpg") center fixed;
}

/*====================================
            footer
=====================================*/
.footer {
  padding-top: 100px;
  padding-left: 180px;
}

.footer .logoFooter {
  text-align: center;
}

.footer .textLogo {
  color: #6878b1;
  text-align: center;
  padding-top: 23px;
}

.footer .linkF {
  padding: 87px 0 22px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 425px;
  width: 100%;
  margin: auto;
}

.footer .linkF a {
  font-weight: bold;
  color: #2e2e2e;
}

.footer .copyright {
  font-size: .75em;
  line-height: 1.4;
  color: #6878b1;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

/*-----------------------------------
            For mobile
-----------------------------------*/
@media screen and (max-width: 1200px) {
  .is_tb {
    display: inherit !important;
  }
  .hide_tb {
    display: none !important;
  }
  .container {
    padding: 0 3%;
  }
  .m-slider .image {
    height: 598px !important;
  }
}

@media screen and (max-width: 780px) {
  .is_pc_tb {
    display: none;
  }
  .is_mb {
    display: inherit !important;
  }
  .is_pc {
    display: none !important;
  }
  .txt_indent_5 {
    display: inline-block;
    text-indent: -5px;
  }
  .titleSection {
    font-size: 18px;
  }
  .titleSection span {
    font-weight: bold;
  }
  .divider {
    border-top: 1px solid #6878B1;
    margin-top: 60px;
    padding-bottom: 60px;
  }
  .navHeader li a {
    font-size: 14px;
    background: url("../images/arrow_N.png") no-repeat 5%;
    display: block;
    color: #8a8a8a;
    padding: 16px 20px 16px 40px;
  }
  /*----------Swap two div before and after----------*/
  .swapTwo {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /* optional */
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .swapTwo .first_div {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .swapTwo .second_div {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  /*------------------
            l-wrapper
    -----------------------------------*/
  .l-wrapper {
    display: none;
  }
  /*------------------
            main-wrapper
    -----------------------------------*/
  .main-wrapper {
    padding-left: 0;
    padding-top: 61px;
  }
  /*------------------
            sectionSlider
    -----------------------------------*/
  .sectionSlider {
    min-height: inherit;
  }
  .sectionSlider .titleSection img {
    width: 90%;
  }
  .m-slider .image {
    height: inherit;
  }
  .slick-list.draggable {
    height: inherit;
  }
  /*------------------
            sectionNews
    -----------------------------------*/
  .sectionNews {
    border-bottom: none;
    padding: 25px 0 35px;
  }
  .sectionNews .titleSection {
    display: block;
    padding-bottom: 20px;
  }
  .sectionNews .btnNews_mb {
    padding-top: 30px;
    text-align: center;
  }
  .sectionNews .itemTopic .time {
    width: 100%;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .sectionNews .itemTopic .text {
    width: 100%;
    font-size: 11.5px;
    line-height: 18px;
    padding-left: 0;
  }
  /*------------------
            sectionService
    -----------------------------------*/
  .sectionService {
    border-bottom: none;
    padding: 0;
  }
  .sectionService .container {
    padding: 0;
  }
  .sectionService .titleSection {
    display: none;
  }
  .sectionService .listItems {
    margin: 0;
  }
  .sectionService .items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    border-top: 2px solid #e9e9e9;
  }
  .sectionService .titleItems {
    font-size: 10px;
    padding-bottom: 8px;
  }
  .sectionService .avatar {
    float: left;
    width: 50%;
    padding-bottom: 0;
  }
  .sectionService .description_mb {
    font-size: 14px;
    display: table-cell !important;
    float: left;
    width: 50%;
    padding-left: 20px;
  }
  /*------------------
            sectionProduct
    -----------------------------------*/
  .sectionProduct {
    border-bottom: 2px solid #e9e9e9;
    padding: 0;
  }
  .sectionProduct .container {
    padding: 0;
  }
  .sectionProduct .titleSection {
    display: none;
  }
  .sectionProduct .listItems {
    margin: 0;
  }
  .sectionProduct .items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    border-top: 2px solid #e9e9e9;
  }
  .sectionProduct .titleItems {
    font-size: 10px;
    padding-bottom: 8px;
  }
  .sectionProduct .avatar {
    float: left;
    width: 50%;
    padding-bottom: 0;
  }
  .sectionProduct .description_mb {
    font-size: 14px;
    display: table-cell !important;
    float: left;
    width: 50%;
    padding-left: 20px;
  }
  /*------------------
            .sectionBreadcrumb
    -----------------------------------*/
  .sectionBreadcrumb {
    min-height: inherit;
  }
  .sectionBreadcrumb .content {
    padding: 15px;
  }
  /*------------------
            sectionThumbnail
    -----------------------------------*/
  .sectionThumbnail {
    padding: 0;
  }
  .sectionThumbnail.fixed {
    background: #fff;
    top: 62px;
    padding-left: 0;
  }
  .sectionThumbnail .container {
    padding: 0;
  }
  .sectionThumbnail .list {
    margin: 0;
    display: block;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .sectionThumbnail .listItems {
    display: block;
    margin: 0;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  .sectionThumbnail .items {
    position: relative;
    width: 50%;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
  }
  .sectionThumbnail .items:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 16px;
    width: 6px;
    height: 10px;
    background: url("../images/subPage/arrowTh.png") no-repeat;
  }
  .sectionThumbnail .items:nth-child(odd) {
    border-right: 1px solid #e9e9e9;
  }
  .sectionThumbnail .items.brd_b_none {
    border-bottom: none !important;
  }
  .sectionThumbnail .items:last-child {
    border-bottom: none;
  }
  .sectionThumbnail .items .avatar {
    display: none;
  }
  .sectionThumbnail .items .avatar img {
    width: 100%;
  }
  .sectionThumbnail .items .description {
    padding-top: 0;
    line-height: 22px;
  }
  .sectionThumbnail .items .description a {
    width: 100%;
    display: block;
    padding-left: 15px;
  }
  /*------------------
            sectionMessage
    -----------------------------------*/
  .sectionMessage {
    padding: 50px 0 45px;
  }
  .sectionMessage .titleSection {
    padding-bottom: 25px;
  }
  .sectionMessage .description {
    padding-top: 23px;
  }
  .sectionMessage .description p {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .sectionMessage .note {
    font-size: 10px;
  }
  .sectionMessage .note span {
    font-size: 16px;
  }
  /*------------------
            .sectionVision
    -----------------------------------*/
  .sectionVision {
    padding: 40px 0 70px;
  }
  .sectionVision .nameSection {
    padding-top: 25px;
    font-size: 16px;
    line-height: 1.4;
  }
  .sectionVision .description {
    padding-top: 23px;
  }
  .sectionVision .description p {
    font-size: 12px;
    padding: 0;
  }
  /*------------------
            sectionAccess
    -----------------------------------*/
  .sectionAccess {
    padding: 50px 0 60px;
  }
  .sectionAccess .listMap {
    border: none;
    padding: 0;
  }
  .sectionAccess .itemMap {
    padding-top: 5px;
    width: 50%;
    float: left;
  }
  .sectionAccess .itemMap:nth-child(1) {
    padding-right: 5px;
  }
  .sectionAccess .itemMap:nth-child(2) {
    padding-left: 5px;
  }
  .sectionAccess .itemMap:nth-child(3) {
    padding-top: 18px;
    width: 100%;
  }
  .sectionAccess .itemMap iframe {
    max-width: 100%;
    height: 180px;
  }
  /*------------------
            .sectionAbout01
    -----------------------------------*/
  .sectionAbout01 {
    padding: 50px 0 42px;
  }
  .sectionAbout01 .titleSection {
    padding-bottom: 23px;
  }
  .sectionAbout01 .tableSection tr td {
    padding: 12px;
  }
  .sectionAbout01 .tableSection tr td:first-child {
    width: 26%;
  }
  /*------------------
            sectionAbout02
    -----------------------------------*/
  .sectionAbout02 {
    padding: 50px 0 60px;
  }
  .sectionAbout02 .titleSection {
    padding-bottom: 23px;
  }
  .sectionAbout02 .tableSection tr td {
    padding: 1% 2%;
  }
  .sectionAbout02 .tableSection tr td:first-child {
    width: 20%;
  }
  .sectionAbout02 .tableSection tr td:last-child {
    width: 550px;
  }
  /*------------------
            sectionProduct01
    -----------------------------------*/
  .sectionProduct01 {
    padding: 30px 0 70px;
  }
  .sectionProduct01 .titleSection {
    padding-bottom: 20px;
  }
  /*------------------
            sectionProduct02
    -----------------------------------*/
  .sectionProduct02 {
    padding: 30px 0 60px;
  }
  .sectionProduct02 .titleSection {
    padding-bottom: 20px;
  }
  .sectionProduct02 .description p {
    padding-bottom: 12px;
  }
  .sectionProduct02 .banner {
    padding-top: 23px;
  }
  /*------------------
            sectionProduct03
    -----------------------------------*/
  .sectionProduct03 {
    padding-bottom: 55px;
  }
  .sectionProduct03 .titleSection {
    padding-bottom: 20px;
  }
  .sectionProduct03 .items {
    padding: 0 0 10px;
    width: 100%;
  }
  .sectionProduct03 .titleItems {
    text-align: left;
    padding-bottom: 10px;
  }
  .sectionProduct03 .listItems {
    margin: 0;
  }
  .sectionProduct03 .listItems:not(:last-child) {
    padding-bottom: 0;
  }
  .sectionProduct03 .avatar {
    padding-bottom: 0;
    width: 100%;
  }
  .sectionProduct03 .avatar img {
    width: 100%;
  }
  .sectionProduct03 .description {
    width: 100%;
    padding-left: 10px;
  }
  .sectionProduct03 .description .titleItems {
    padding-top: 10px;
  }
  /*------------------
            sectionProduct04
    -----------------------------------*/
  .sectionProduct04 {
    padding-bottom: 55px;
  }
  .sectionProduct04 .titleSection {
    padding-bottom: 20px;
  }
  .sectionProduct04 .items {
    padding: 0 0 10px;
    width: 100%;
  }
  .sectionProduct04 .titleItems {
    padding-bottom: 10px;
  }
  .sectionProduct04 .listItems {
    margin: 0;
  }
  .sectionProduct04 .listItems:not(:last-child) {
    padding-bottom: 0;
  }
  .sectionProduct04 .avatar {
    padding-bottom: 0;
    width: 100%;
  }
  .sectionProduct04 .avatar img {
    width: 100%;
  }
  .sectionProduct04 .description {
    width: 100%;
    padding-left: 10px;
  }
  .sectionProduct04 .description .titleItems {
    padding-top: 10px;
    text-align: left;
  }
  /*------------------
            sectionProduct05
    -----------------------------------*/
  .sectionProduct05 {
    padding-bottom: 55px;
  }
  .sectionProduct05 .titleSection {
    padding-bottom: 20px;
  }
  .sectionProduct05 .items {
    padding: 0 0 10px;
    width: 100%;
  }
  .sectionProduct05 .listItems {
    margin: 0;
  }
  .sectionProduct05 .listItems:not(:last-child) {
    padding-bottom: 0;
  }
  .sectionProduct05 .avatar {
    padding-bottom: 0;
    width: 100%;
  }
  .sectionProduct05 .avatar img {
    width: 100%;
  }
  .sectionProduct05 .description {
    width: 100%;
    padding-left: 10px;
  }
  .sectionProduct05 .description .titleItems {
    padding-top: 10px;
    text-align: left;
  }
  /*------------------
            sectionProduct06
    -----------------------------------*/
  .sectionProduct06 {
    padding-top: 45px;
  }
  .sectionProduct06 .titleSection {
    padding-bottom: 30px;
  }
  /*------------------
            sectionProduct07
    -----------------------------------*/
  .sectionProduct07 {
    padding: 50px 0;
  }
  .sectionProduct07 .titleSection {
    padding-bottom: 18px;
  }
  .sectionProduct07 .item {
    display: block;
    padding: 10px;
    background: none;
    border: none !important;
  }
  .sectionProduct07 .item .avatar {
    max-width: inherit;
    float: none;
    margin: 0 auto;
  }
  .sectionProduct07 .item .avatar img {
    width: 100%;
  }
  .sectionProduct07 .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .sectionProduct07 .item .description {
    padding-left: 0;
    float: none;
  }
  .sectionProduct07 .item .btnMore {
    position: relative;
    display: block;
    text-align: center;
    clear: both;
    right: 0;
    bottom: 0;
  }
  .sectionProduct07 .item .titleI {
    text-align: left;
    font-size: 20px;
    max-width: 100%;
    padding: 16px 0;
    line-height: 25px;
  }
  .sectionProduct07 .item .txtI {
    max-width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .sectionProduct07 .item br {
    display: none;
  }
  .sectionProduct07 .item .btnMore {
    padding: 10px 0 5px;
  }
  .sectionProduct07 .item .btnMore img {
    margin: 0 auto;
  }
  /*------------------
            footer
    -----------------------------------*/
  .footer {
    padding-top: 50px;
    padding-left: 0;
  }
  .footer .textLogo {
    font-weight: bold;
  }
  .footer .linkF {
    padding: 43px 11px;
    font-size: 10px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .linkF .wall {
    padding: 0 5px;
  }
}
