// **********************************
//   font-face
// **********************************
// @font-face {
//   font-family: "UTM Alexander";
//   src: url(asset-path("../fonts/UTM Alexander.ttf"));
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "futura-medium";
//   src: url(asset-path("fonts/futura-medium.eot"));
//   src: url(asset-path("fonts/futura-medium.woff")) format("woff"),
//   url(asset-path("assets/fonts/futura-medium.ttf")) format("truetype"),
//   url(asset-path("fonts/futura-medium.svg")) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// **********************************
//   font-family
// **********************************
$font-body: -apple-system, BlinkMacSystemFont, 'Noto Sans Japanese', "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-heading: "UTM Alexander", sans-serif;
$font-awesome: "FontAwesome";

// **********************************
//   COLOR
// **********************************
// Brand Color
$color-primary: #33445b;
$color-1: #e3e5eb;
$color-2: #eff1f4;
$color-3: #2991b3;
$color-4: #3e3a39;
$color-5: #3c4b61;
$color-6: #e5e5e5;
$color-7: #efefef;

// Application Color
$color-a: #ffffff;
$color-b: #aaa;
$color-c: #aaa;
$color-d: #aaa;
$color-e: #aaa;
$color-o: #000;


// **********************************
//   EXTENDS
// **********************************

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}
%pd_container {
    padding-left: 7.14286%;
    padding-right: 7.14286%;
}
%padding_title {
    padding-left: 3%;
    padding-right: 3%;
}
%padding_text {
    padding-left: 3%;
    padding-right: 3%;
}
%duration {
    transition-duration: 400ms;
}
